@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Amsterdam&display=swap');

:root {
    --title-color: #9B97FF;
    --description-color: #E8D0A9;
    --image-border-radius: 0.6em;
    --primary-background-color: #282C32;
    --secondary-background-color: #525659;
}

::-webkit-scrollbar {
    display: none;
}

* {
    border: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--primary-background-color);
    padding-top: 1.5em;
}